<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="FitnessTracker.Server.TrackerService">
        <endpoint address="net.tcp://localhost:4444/trackerservice" binding="netTcpBinding" contract="FitnessService.Library.ITrackerService" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="TrackerContext" connectionString="data source=sharp.kst.fri.uniza.sk;initial catalog=potst2018_UrbanTomasDb;user id=potst2018_UrbanTomas;password=556872;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>